/*!
Auteur: maximilien Galuret
Description: Travail Pratique 1
Version: 1.0.0
License: GNU General Public License v2 or later

*/
/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Elements
# Entete
# Layout
# Mixins
# Navigation
# Pied_Page
# Typographie
# Variables

---------------------------------------------------------------*/
/* Les éléments simples.  
On définit ici des règles de styles générales qui peuvent être enrichies ailleur.
Ces règles servent de bases  
*/