/*Couleurs*/
$couleur_rouge : rgb(246,94,94);
$couleur_blanc : rgb(255, 255, 255);
$couleur_blanc_casse : rgb(240, 240, 240);
$couleur_noir : rgb(0, 0, 0);
$couleur_principale :#30C9E8;
$couleur_secondaire :#F6F8F9;
$couleur_tiers :#FF4430;
$couleur_texte :#3A4A4D;

